@import '../../view/styles/mixin';
@import '../../view/styles/variable';

.header {
  display: flex;
  justify-content: space-between;
  flex-basis: 48px;
  margin-bottom: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  &__search {
    width: 470px;
    height: 48px;
  }
  &__account {
    display: flex;
    align-items: center;
    .account-item {
      margin-left: 27px;
    }
  }
  .wrapp-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.dropdow-wrapper {
  background-color: $color-white;
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .dropdow-item {
    padding: 8px 24px;
    @include centerFlexItem;
    transition: all 0.3s ease;
    &.logout {
      &:hover {
        background-color: $color-error;
        color: white;
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
