@import '../../styles/variable';
@import '../../styles/mixin';

.checkedTicket {
  font-style: italic;
  color: $color-light-red;
}
.uncheckedTicket {
  color: $color-light-gray;
  font-style: italic;
}

.ticket-filter {
  &__title {
    color: $color-text-dark;
    margin-bottom: 32px;
  }

  form.filter-form {
    .ant-form-item-label {
      text-align: left;
    }
    .ant-form-item-control {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    label {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
    }
    .ant-radio-checked .ant-radio-inner::after {
      transform: scale(1);
    }
    .form-submit {
      justify-content: center;
    }
  }
}

.left-col {
  flex-basis: calc(1097px + 24px);
  max-width: 100%;
}
.right-col {
  flex: 1;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
}
